<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.HotelMapper">



    <resultMap id="BaseResultMap" type="com.example.demo.entity.HotelEntity">

        <id column="hotel_id" jdbcType="INTEGER" property="hotel_id" />
        <result column="userId" jdbcType="VARCHAR" property="userId" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="price" jdbcType="VARCHAR" property="price" />
        <result column="area" jdbcType="VARCHAR" property="area" />
      <result column="place" jdbcType="VARCHAR" property="place" />
      <result column="desc" jdbcType="VARCHAR" property="desc" />
      <result column="type" jdbcType="INTEGER" property="type" />
      <result column="column" jdbcType="INTEGER" property="column" />
      <result column="num" jdbcType="INTEGER" property="num" />
      <result column="max" jdbcType="INTEGER" property="max" />
      <result column="roommax" jdbcType="INTEGER" property="roommax" />
        <result column="beds" jdbcType="VARCHAR" property="beds" />
        <result column="waternum" jdbcType="INTEGER" property="waternum" />
        <result column="services" jdbcType="VARCHAR" property="services" />
        <result column="images" jdbcType="VARCHAR" property="images" />

    </resultMap>

  <insert id="insert" parameterType="com.example.demo.entity.HotelEntity">


    insert into hotel (userId, name, price, area,place,content,type,column1,num,max,roommax,beds,waternum,services,images)
    values (#{userId,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR},#{price,jdbcType=VARCHAR},#{area,jdbcType=VARCHAR},#{place,jdbcType=VARCHAR},#{content,jdbcType=VARCHAR},
    #{type,jdbcType=INTEGER},#{column1,jdbcType=INTEGER},#{num,jdbcType=INTEGER},#{max,jdbcType=INTEGER},#{roommax,jdbcType=INTEGER},#{beds,jdbcType=VARCHAR},#{waternum,jdbcType=INTEGER},#{services,jdbcType=VARCHAR},
    #{images,jdbcType=VARCHAR})



  </insert>














    <update id="updateByPrimaryKey" parameterType="com.example.demo.entity.HotelEntity">

        update hotel set

        <if test="grade!= null" >
            grade = #{grade,jdbcType=VARCHAR},
        </if>


        hotel_id = #{hotel_id,jdbcType=INTEGER}

        where hotel_id = #{hotel_id,jdbcType=INTEGER}
    </update>


    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        <!--
          WARNING - @mbg.generated
          This element is automatically generated by MyBatis Generator, do not modify.
        -->
        select *
        from hotel
        where hotel_id = #{hotel_id,jdbcType=INTEGER}
    </select>
    <select id="selectAll1" resultMap="BaseResultMap" useCache="true">
        <!--
          WARNING - @mbg.generated
          This element is automatically generated by MyBatis Generator, do not modify.
        -->
        select *
        from hotel
    </select>



</mapper>
