<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.OrderMapper">



    <resultMap id="BaseResultMap" type="com.example.demo.entity.OrderEntity">


        <result column="hotel_id" jdbcType="VARCHAR" property="hotel_id" />
        <result column="startTime" jdbcType="TIMESTAMP" property="startTime" />
        <result column="endTime" jdbcType="TIMESTAMP" property="endTime" />
        <result column="price" jdbcType="VARCHAR" property="price" />
        <result column="account" jdbcType="VARCHAR" property="account" />

    </resultMap>






    <insert id="insert" parameterType="com.example.demo.entity.OrderEntity">
        insert into order1 (hotel_id,startTime,account,endTime,price)
        values  ( #{hotel_id,jdbcType=VARCHAR}, #{startTime,jdbcType=TIMESTAMP},
        #{account,jdbcType=VARCHAR},#{endTime,jdbcType=TIMESTAMP},#{price,jdbcType=VARCHAR})
    </insert>




    <select id="selectAll" parameterType="java.lang.String" resultType="java.util.HashMap" useCache="true">

     select hotel.*,order1.startTime,order1.endTime,order1.price orderPrice
      from order1 join hotel on order1.hotel_id = hotel.hotel_id where  order1.account=#{account}  order by id
    </select>





</mapper>
